/* This is the css for this website */
body {
    font-family: monospace,'Courier New', Courier;
}

.heroHeader {
    text-align: center;
    font-size: 38px;
}

h3{
    font-size: 28px;
}

.refList{
text-align: center;
}

.mainList {
    line-height: 2rem;
    font-size: 22px;
    display: inline-block;
    text-align: left;
}

.squareImg {
    width: 500px;
    height: 500px;
}

.rectangleImg {
    width: 400px;
    height: 500px;
}