*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: monospace,'Courier New', Courier;
}

.heroHeader {
    text-align: center;
    font-size: 38px;
    margin: 20px;
}

.refList {
    background-color: rgb(249,208,46);
    border: 5px solid goldenrod;
    border-radius: 10px;
    width: 800px;
    height: 250px;
    margin: auto;
    text-align: center;
}

.mainList {
    list-style-type: none;
    font-size: 22px;
    margin: 22.5px;
}

li {
    margin-bottom: 15px;
    padding: 10px;
    border: 5px solid goldenrod;
    border-radius: 5px;
    background-color: ghostwhite;
}

